
html, body {
    font-family: "EditorialNew", Serif;    
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@font-face {

    font-family: 'EditorialNew';
    
    src: 
    url('./fonts/EditorialNew-Regular.woff') format('woff'),
    url('./fonts/EditorialNew-Thin.woff') format('woff'),
    url('./fonts/EditorialNew-Regular.ttf') format('truetype');
    
    font-weight: thin;
    
    font-style: thin;
    
    }


body {
margin: 0;
}

#sketch-holder {
    width: 100%;
    height:100%;
} 

h1 {
    font-weight: 300;
    font-size: 60px;
    margin-top: 0;
    line-height: 72px;
}

h2 {
    font-weight: 300;
}

h3 {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    margin-top: 64px;
    line-height: 0;
    font-size: 36px;
}


#text-description1 {
    position: absolute;
    top: 5vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 2px 10px #ffe4dc;
}
#text-description2 {
    position: absolute;
    top: 98vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.relative {
    position:relative;
}

.wrapper {
    margin: 32;
}

.container {
    padding: 30px;
}

#superscript {
    font-family: 'Plus Jakarta Sans', sans-serif;
    vertical-align: super;
    font-size: medium;
    color: black;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
 
  
  a:hover {
    color: blue;
  }
  /* selected link */
  a:active {
    color: blue;
  }

   /* mouse over link */
   a.shadow:link {
    text-decoration: underline;
  }
  a.shadow:hover {
      color:black;
    text-shadow: 0px 2px 10px blue;
  }

  .hover-title {
    display: inline;
    pointer-events: auto;
    cursor: pointer;
}

.hover-image {
    visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
    visibility: visible;
    pointer-events: none;
}

.hover-image {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:10;
    pointer-events: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

/* Change width and height to scale images */
    width: 90vw;
    height: 90vh;
}

.hover-image img {
    max-width: 100% !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}